<%= form_for :search, url: root_path, method: 'GET' do |f| %>
  <div class='input-field col s12 search'>
    <%= f.text_field :query, value: search_query, required: true %>
    <%= f.submit 'Search', class: 'btn right search-btn' %>
    <%= link_to 'Reset', root_path, class: 'btn red search-btn ' %>
  </div>
<% end %>
