<%= form_tag root_path, name: :search, method: :get do %>
  <div class='input-field col s12 search'>
    <%= text_field_tag 'search[query]', search_query, required: true, placeholder: 'ðŸ„ search ðŸ„' %>
    <%= submit_tag 'Search', class: 'btn right search-btn' %>
    <%= link_to 'Reset', root_path, class: 'btn red search-btn ' %>
  </div>
<% end %>
