<div class='row'>
  <div class='col s4 m3 filters'>
    <div class='title'><h4>Filters<h4></div><hr>
    <%= render 'filter_form' %>
  </div>

  <% if @mushrooms.present? %>
    <div class='table-container col s8 m9'>
      <%= render 'table' %>
      <%= paginate @mushrooms %>
    </div>
  <% end %>
</div>
