<h3>Mushrooms</h3>

<div class='row'>
  <div class='col s3'>
    <h4>Filters</h4><hr>
    <%= render 'filter_form' %>
  </div>

  <% if @mushrooms.present? %>
    <div class='table-container col s9'>
      <%= render 'table' %>
    </div>
  <% end %>
</div>
