/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
nav {
  background-color: #010 !important;
}
nav .nav-wrapper {
  padding-left: 30px;
}

.body-container {
  padding: 20px;
  padding-right: 50px;
}

.table-container, .filters {
  height: 100vh;
  overflow: scroll;
}

thead th, .title {
  position: sticky;
  top: 0;
}

th, td {
  padding: 8px 16px;
}

th, .title {
  background:#eee;
}

.title {
  padding: 15px;
  z-index: 2;
}

.select-wrapper {
  padding-top: 15px;
}

label {
  font-size: 18px !important;
}

span.page, span.next, span.last {
  font-size: 1.1em;
  margin: 25px;
}

nav.pagination {
  width: 600px;
  border-radius: 40px;
  margin-top: 15px;
}

.btn {
  border-radius: 20px !important;
}

@media screen and (max-width: 600px) {
  label {
    font-size: 12px !important;
  }

  .placeholder {
    font-size: 8px !important;
  }

  .btn {
    margin-bottom: 20px;
    width: 100%;
    font-size: 12px !important;
  }

  h4 {
    font-size: 20px !important;
    margin: 0 !important;
  }

  .title {
    padding: 10px;
  }
}
